.align-right{
    text-align: right;
}

.map-section{
    height: 700px;
}

.claimed_detail {
    padding: 10rem 15rem!important;
}

.box-title{
    background: #EEECFA;
    margin-top:0;
    margin-bottom:0;
}

.roww{
    width: 90%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .map-section{
        height: 400px;
    }
}
