a {
            color: inherit;
        }
img {
            max-width: 100%;
        } /*fixes articlepage*/

h1#title1 {
  font-family: 'Roboto';
}

h5#card {
  font-family: 'Roboto';
}

h4#title2 {
  font-family: "Open Sans";
  font-size: 26px;
}

h6#header {
  font-weight: 600;
  color: #666666;
  font-size: 19px;
}

p#excerpt {
  line-height: 1.9em;
  color: #666666;
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: 500;
}

p#by {
  font-family: "Comfortaa";
  font-size: 28px;
  color: #0a0a0a;
}

img#footer {
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  width: 88%;
  height: auto;
}

h4#footer {
  color: white;
}

p#footer {
  color: white;
}

p#content-header {
  color: #333;
  font-weight: 100;
  font-size: 50px;
  line-height: 1.2em;
}

p#body {
  line-height: 1.9em;
  color: #666666;
  font-size: 18px;
  font-family: "Roboto Slab";
}
p#biglove {

		color: white;

	}

	
b#biglove {

	color: #a0a0a0;

}
p#spotlight {

	color: #656565;

	line-height: 125%;

}

p#cardlink {
  line-height: 1.9em;
  color: #666666;
  font-size: 14px;
  font-family: "Roboto Slab";

}

img#photo {
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  width: 100%;
  height: auto;
}

iframe#video {
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  text-align: center;
  box-shadow: 8px 8px 10px #cbcbcb;
}

p#video span {
  font-size: 16px;
}

p#video {
  color: #404040;
}

img#oncard {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 68%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  box-shadow: 8px 8px 10px #cbcbcb;
}


.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* was messing up nav
li {
  line-height: 1.9em;
  color: #666666;
  font-size: 16px;
  /*font-family: "Roboto Slab";
}*/
	
body {
  padding-top: 121px;
}

.menu-desktop {
  
}

#burger, #menu-burger {
  display: none;
}

#menu-burger {
  position: fixed;
  top: 88px;
  background-color: #333;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  padding: 3rem 0px;
}

#burger img {
  max-height: 48px;
}

#menu-burger ul {
  list-style-type: none;
}

.section-header {
  padding: 0px !important;
}

.section-header-left {
  padding: 18rem;
  vertical-align: middle;
}

.section-header-right {
  background-image: url(https://2019fun.justmy.com/bran-media/summer_drinks.jpg);
                                                background-size: cover;
                                                background-position: center
}

p#content-header {
  text-align: center;
}
p#content-header-left {
  color: #333;
  font-weight: 100;
  font-size: 50px;
  line-height: 1.2em;
  text-align: left;
}
p#body {
  margin-top: 2rem;
}

.section {
  padding: 3rem 0px;
}

.section-content {
  
}

.section-content .col-xs-12 {
  width: 100%;
}

.section-footer {
  background-image: url(https://2019fun.justmy.com/bran-media/map.jpeg);
                                       background-size: cover;
                                       background-position: center;
  padding: 9rem 0px;
}

.section-hero {
  
   background-size: cover;
   background-position: center;
  padding: 9rem 0px;
  text-align: center;
}

.section-hero img {
  max-width: 100%;
}

.herocta {
  background-color: #e80001;
  padding: .6rem 1rem;
  font-size: 1.2rem;
  border: none;
  margin-top: 3rem;
}

.section-subhero {
  margin-top: -60px;
}

.section-subhero img {
  max-height: 210px;
}

.subhero {
  overflow: hidden;
  clear: both;
  display: flex;
}

.subhero-img {
  width: 20%;
}

.subhero-txt {
  width: 80%;
  padding-top: 76px;
  font-size: 3rem;
}

.section-split-4 .section-left {
  background-color: #7F00FF;
  color: white;
  padding: 5rem;
  padding-left: calc((100vw - 1028px)/2);
  font-size: 1.3rem;
}

.section-split-4 .section-left img {
  height: 180px;
  margin: 1rem 0px;
}

.section-split-4 .section-right {
  padding: 0px;
}

.section-split-5 .row {
  margin: 1rem 0px;
}

.box-feature {
  margin: .4rem;
  display: flex;
  font-size: 1.6rem;
  height: 200px;
}

.box-feature img {
  width: 40%;
  border-radius: 6px;
  border-bottom-right-radius: 0px;
  box-shadow: 8px 8px 10px #cbcbcb;
}

.box-feature .box-copy {
  width: 60%;
  padding-left: 1rem;
}

.box-copy div {
  font-size: 1.1rem;
  font-weight: 100;
}

.box-feature a {
  color: black;
  font-weight: bold;
}

#card {
  box-shadow: 2px 2px 2px #cbcbcb;
  margin: 0px auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#card-right {
  box-shadow: 2px 2px 2px #cbcbcb;
  margin: 0px auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#card .row,#card-right .row {
  margin: 0px;
}

#card .col-md-4,#card-right .col-md-4 {
  padding: .3rem 3rem;
}

#footerlogo {
  max-height: 180px;
  border-radius: 6px;
  border-bottom-right-radius: 0px;
}

.banner {
  border-radius: 6px;
  border-bottom-right-radius: 0px;
  box-shadow: 8px 8px 10px #cbcbcb;
}

.bottom-blurb {
            font-size: 1.1rem;
            font-weight: 100;
        }
        
.bottom-blurb a {
            font-size: 1.6rem;
            color: black;
            font-weight: bold;
        }

/* Create a sticky/fixed navbar */
#navbar {
  /*overflow: hidden;*/
  background-color: #fff;
  padding: 20px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99; 
  border-bottom: 1px solid #f1f1f1;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  padding-left: 5%;
}

#logo img {
  max-height: 80px;
}

/* Links on mouse-over 
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
*/
/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
}

#navbar-right ul {
  list-style-type: none;
  margin: 2rem;
}
#navbar-right ul li {
  float: left;
  margin-left: 2rem;
}


#navbar {
  height: auto;
}

#navbar:after {
  display: table;
  content: "";
  clear: both;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.54);
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 9999;
  top: 24px;
}

.dropdown-content > p {
  padding-bottom: 1rem;
}

.dropdown-content > p > a {
  color: white !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}




@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .section-split-4 .section-left {
    display: flex;
    padding: 2rem;
  }
  .section-split-4 .section-left div {
    /*padding: 3rem 2rem;*/
    position: absolute;
    top: 120px;
    margin-left: 220px;
    margin-right: 20px;
  } 
}


@media screen and (max-width: 1024px) {
  body {
    padding-top: 91px;
  }
  .section-header-left {
    padding: 4rem; 
  }
  
  #logo img {
    max-height: 48px;
  }
  
  .menu-desktop {
    display: none;
  }

  #burger {
    display: block !important;
    float: right !important;
  }
  
  #menu-burger a {
    color: white;
  }
  
  .dropdown > .dropdown-content {
    display: block;
    position: relative;
    box-shadow: none;
    padding: 0px 16px !important;
    top: 0px;
    z-index: 0;
    background-color: #333;
  }
  
  .dropdown > .dropdown-content > p {
    padding: 0px !important;
    margin: 0px !important;
  }
  
  .dropdown > .dropdown-content > p > a {
    color: #fff !important;
    padding: 0px !important;
  }
  #footerlogo {
    max-height: 80px;
  }
  .section-hero {
    padding: 5rem;
  }
  .subhero-txt {
    margin-top: 40px;
    font-size: 2.4rem;
    padding: 2rem;
  }
  .section-split-4 .section-left {
    display: flex;
  }
  .section-split-4 .section-left div {
    padding: 2rem;
  } 
  .box-feature {
    height: 150px;
    font-size: 100%;
  }
}

@media screen and (max-width: 768px) {
  #menu-burger {
    top: 48px;
  }
  .section-header-left {
    /*padding: 2rem; */
  }
  
  .section-header-right {
    min-height: 300px;
  }
  p#content-header {
    font-size: 2rem !important;
    font-weight: bold !important;
  }
  p#body {
    font-size: 1.25rem !important;
    margin-top: 1.4rem;
  }
  .section-content-inside {
    padding: 0px 15px;
  }
  .section-footer {
    padding: 2rem 0px;
  }
  
  .section-footer .col-md-3 {
    margin: 1rem 0px;
  }
  #card, #card-right {
    margin: 0px 1rem;
  }
  #card .col-md-8, #card-right .col-md-8 {
    min-height: 16rem;
  }
  #card .col-md-4 {
    padding: 1rem;
  }
  #card .row {
    margin: 0px;
  }
  .herocta {
    font-size: 1.1rem;
    padding: .6rem;
  }
  .section-split-4 .section-left {
    padding: 1.6rem;
  }
  .section-subhero img {
    max-height: 150px;
  }
  .subhero-txt {
    margin-top: 60px;
    font-size: 1.7rem;
    padding: 1.5rem;
  }
  .box-feature {
    height: 120px;
  }
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 767px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    display: block;
    
  }
  #navbar-right {
    float: none;
    text-align: right;
  }
  #menu-burger {
    top: 88px;
  }
  .section-subhero {
    margin-top: -20px;
  }
  .subhero-img img {
    max-height: 70px;
  }
  .subhero-txt {
    margin-top: 20px;
    font-size: .97rem;
    padding: .6rem;
    font-weight: bold;
  }
  .section-hero {
    padding: 3rem .3rem;
  }
  .section {
    padding: 3rem 0px;
  }
  .box-feature {
    font-size: 80%;
  }

  p#excerpt {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .section-hero {
    padding: 5rem .3rem;
  }
  .subhero-txt {
    font-size: .97rem;
    padding: .6rem;
    font-weight: bold;
  }
  .section-split-4 .section-left {
    display: unset;
  }
  .box-feature {
    font-size: 110%;
  }
}
